
<div class="header">
      <div class="container">
            <div class="row">
              
                  <div class="col-md-6">
              <h1><a href="" class="title"> Chance & Culture </a></h1>

                 </div>
                 <div class="col-md-6">
                 
                    <a href="" class="login btn-primary">Login</a>
                    <a routerLink="/register" class="register btn-primary">Register</a>


                 </div>

            </div>

      </div>
</div>
